<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">
      Contact Me
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      <a href="https://facebook.com/nirooj56">Facebook</a>
    </ion-item>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      <a href="https://twitter.com/nirooj56">Twitter</a>
    </ion-item>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      <a href="https://github.com/nirooj56">Github</a>
    </ion-item>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      <a href="http://nirojbista.com.np" target="_blank">Website</a>
    </ion-item>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      <a href="mailto:nirooj56@gmail.com">Email</a>
    </ion-item>
  </ion-list>
</ion-content>
